# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
LLM_AI_trip/.env

LLM_AI_trip/src/__pycache__/
LLM_AI_trip/src/models/__pycache__/
LLM_AI_trip/src/prompts/__pycache__/